{% extends 'base.html' %}

{% block content %}
<section class="drinks-tile">
	<div id="gradient"></div>
	<div class="drink-header" id="drinks">
		<h1>Speakeasy</h1>
	</div>
		<div class="main-tile-dimensions row">
			<div class="drinks row">
				<div class="column">
					<h1>Coctails</h1>
					<img class="resize" src="app/static/images/igor-stepanov-rNKKUsIJNd4-unsplash.jpgg"style="width:100%" alt="image by igor stepanov from unslash">
				</div>
				<div class="column">
					<h1>Wines</h1>
					<img class="resize" src="app/static/images/kevin-kelly-PPneSBqfCCU-unsplash.jpg"style="width:100%" alt="image by kevin kelly from unslash">

					</div>
				<div class="column">
					<h1>Beers</h1>
					<img class="resize" src="app/static/images/giovanna-gomes-Qy2KMPRV3X4-unsplash.jpg"style="width:100%" alt="image by giovanna gomes from unslash">

					</div>				
				
				</div>
			</div>
		</div>

	</div>
</section>
<footer>
    <div class="copyright bottom">
        <p class="foot-text p-5">&copy; Breanne Bryan 2023</p>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}