{% extends 'base.html' %}

{% block content %}
    <!-- Form content -->
<section class="text-light">
        <!-- <img src="static/images/jonatan-pie-h8nxGssjQXs-unsplash.jpg" alt="Photo by Jonatan Pie on Unsplash" class="index-bg"> -->
    <main class="container p-5">
        <div class="row">
            <aside class="col-12 col-md-6">
                <h2>Create Your Account</h2>
                {% include 'forms_up.html' %}
            </aside>
        </div>
    </main>
</section>
    <footer class="fixed-bottom">
        <div class="copyright-sign">
            <p class="foot-text">&copy; Breanne Bryan 2023</p>
        </div> 
    </footer>
{% endblock %}